.header-site{
    background-image: url(../img/empresasustenavel.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #4E944F;
    padding-top: 300px;
    padding-bottom: 300px;
}

.content-site{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #E9EFC0;
    color: #83BD75;
}

.img-site{
    background-image: url(../img/o-que-e-sustentabilidade-ambiental.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #4E944F;
    padding-top: 200px;
    padding-bottom: 200px;
}

.footer{
    background-color: #E9EFC0;
    color: #83BD75;
    padding-top: 150px;;
    padding-bottom: 150px;
}