.header-site{
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #4E944F;
    padding-top: 201px;
    padding-bottom: 200px;
    font-size: 20px;
}

.junte{

font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}
.melhor{
   font-size: 45px;
   color: #4E944E;
   Display: 64px ;
font-size: 64px;
font-weight: 700;
line-height: 77px;
letter-spacing: 0em;
text-align: left;

}

.sobre{
  width: 1216px;
  height: 564px;
  border-radius: 30px;
  background-color: #C4C4C4;
}

.caixa_sobre{
  display: flex;
  justify-items: center;
  padding-left: 310px;
}

.lead{
  color: #606078;
}

.content-site{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #C1E3C7;
    color: #C1E3;
}

.img-site{
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #4E944F;
    padding-top: 100px;
    padding-bottom: 100px;
}



.footer{
    background-color: #C1E3C7;
    color: #83BD75;
    padding-top: 30px;;
    padding-bottom: 30px;
}


/* Barra de navegação */
header, .navbar {
    background-color: #C1E3C7;;
  }
  
  #nav-container {
    padding-top: 0;
    padding-bottom: 0;
    
  }
  
  #logo {
    width: 75px;
    color: #4E944E;
  }
  
  .navbar-brand {
    padding: 0;
    color: #4E944E;
  }
  
  .navbar-brand:hover {
    color: #4E944E;
  }
  
  #navbar-links a {
    color: #4E944E;
  }
  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
  }
  
  .nav-item.active {
    border-bottom: 3px solid #4E944E;
  }

  /* fORMULÁRIO*/

  .form-container1{
    border-radius: 10px;
    padding: 30px;
    box-shadow: 10px 0px 10px 0px;
    text-align: center;
  }
  .bg{
  
    width: 60px;
    height: 60px;
    position: absolute;
    top:-35px;
    left: 40%;
    border-radius: 50%;  
  }

  /*Modal*/

  body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.zero-raduis{
	border-radius: 0px !important;
}

a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  display:inline-block;
  color: #56baed;
}





/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter1 {
  padding: 2px ;
  text-align: right;
  width: 90%;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid red;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset], #cadastro {
  background-color: goldenrod;
  border: none;
  color: white;
  width: 85%;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, #cadastro:hover  {
  background-color: greenyellow;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active ,#cadastro:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text], input[type=email], input[type=password], input[type=date]{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=email]:focus{
  background-color: #fff;
  border-bottom: 2px solid greenyellow;
}

input[type=text]:placeholder, input[type=email]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  width: 0;
  height: 2px;
  background-color: greenyellow;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

#caixa_confia{
  width: 1216px;
  height: 50px;
  background-color: #C4C4C4;
  display: flex;
  align-self: center;
}

.position_caixa{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.cards{
  display: flex;
  justify-content: space-around;
}

#card{
  display: flex;
  justify-content: space-around;
  width: 135px;
  height: 124px;
  background-color: #C4C4C4;
}

#card2{
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

#card_dentro{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}


/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:30%;
}
#razoes{
  color: #0d0d0d;
}

/*tira barra de Rolagem*/
::-webkit-scrollbar {
  display: none;
  }