@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #F3F9F4;
  }


.header{
    border:1px solid #aaa ;
}

.container{
    margin-top: 30px;
    margin-bottom: 40px; 
}

.title{
    margin-top: 70px;
    text-align: center;
}

.pergunta{
    margin-inline-start: 40px;
}

.topicos{
    display: flex;
    justify-content: space-around;
}

.temas{
    color: black;
}

.itens {
    max-width: 30%;
}

.itens a{
    text-decoration: none;
}

.itens :hover{
    max-width: 40%;
    transition: 0.5s;
}

.itens img{
    max-width: 30%;
}


