@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.header{
    display:flex;
    justify-content:space-between;
    height: 62px;
    background:#F3F9F4 ;
}

.nome{
    padding-top: 0.8%;
}

.nav_list{
    list-style: none;
}

ul{
    display: flex;
    justify-content:flex-start;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #FBFBFB;
  }

a{
    text-decoration: none;
    color: #4E9453;
}

button{
    margin-right: 60px;
 }

.avatar {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

.sidebar{
    width: 344px;
    height: 1444px;
    background:#F3F9F4 ;
}


.pontos{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    margin-right: 100px;
}

.toggler{
    display: flex;
    justify-content: end;
}

.links{
    text-decoration: none;
}

.page{
    display: flex;
}

.relatorio{
    padding: 30px;
    display: none;
    flex-direction: column;
}

.title{
    color: #366636;
}

.caixa2{
    display: flex;
    justify-content: space-between;
}

#menu1:hover, #menu2:hover, #menu3:hover, #menu4:hover, #menu5:hover, .nav_list:hover{
    color: #366636;
    background-color: #FBFBFB;

}
.nav_list{
    display: flex;
    text-align: start;
    border-radius: 5px;
    margin-left: 4%;
    width: 60%;
    padding: 8px 0;
    cursor: pointer;
}
